.square_wrapper {
    display:flex;
}

.square_wrapper > div {
    background: #9999ff;
    border: solid 1px #23092d;
    width: 10%;
    height: 100px;
    border: solid 1px #23092d;
}
.square_wrapper > div.active {
    background: #050017;
}
.square_wrapper > div.active:hover {
    opacity:1;
}
.square_wrapper > div.possible {
    opacity:0.5;
}
.square_wrapper > div.possible:hover {
    background: #050017;
    opacity:1;
}

.parent {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    position: fixed;
    width: 100%;
    height: 100%;
}
.square_wrapper.parent div {
    height: 100%;
    width: 100%;
    text-align: center;
}
.square_wrapper.parent div svg {
    color: white;
}
.parent .square1 { grid-area: 1 / 1 / 2 / 2; }
.parent .square2 { grid-area: 1 / 2 / 2 / 3; }
.parent .square3 { grid-area: 1 / 3 / 2 / 4; }
.parent .square4 { grid-area: 1 / 4 / 2 / 5; }
.parent .square5 { grid-area: 1 / 5 / 2 / 6; }
.parent .square6 { grid-area: 1 / 6 / 2 / 7; }
.parent .square7 { grid-area: 1 / 7 / 2 / 8; }
.parent .square8 { grid-area: 1 / 8 / 2 / 9; }
.parent .square9 { grid-area: 1 / 9 / 2 / 10; }
.parent .square10 { grid-area: 1 / 10 / 2 / 11; }
.parent .square11 { grid-area: 1 / 11 / 2 / 12; }
.parent .square12 { grid-area: 2 / 11 / 3 / 12; }
.parent .square13 { grid-area: 3 / 11 / 4 / 12; }
.parent .square14 { grid-area: 4 / 11 / 5 / 12; }
.parent .square15 { grid-area: 5 / 11 / 6 / 12; }
.parent .square16 { grid-area: 6 / 11 / 7 / 12; }
.parent .square17 { grid-area: 7 / 11 / 8 / 12; }
.parent .square18 { grid-area: 8 / 11 / 9 / 12; }
.parent .square19 { grid-area: 9 / 11 / 10 / 12; }
.parent .square20 { grid-area: 10 / 11 / 11 / 12; }
.parent .square21 { grid-area: 11 / 11 / 12 / 12; }
.parent .square22 { grid-area: 11 / 10 / 12 / 11; }
.parent .square23 { grid-area: 11 / 9 / 12 / 10; }
.parent .square24 { grid-area: 11 / 8 / 12 / 9; }
.parent .square25 { grid-area: 11 / 7 / 12 / 8; }
.parent .square26 { grid-area: 11 / 6 / 12 / 7; }
.parent .square27 { grid-area: 11 / 5 / 12 / 6; }
.parent .square28 { grid-area: 11 / 4 / 12 / 5; }
.parent .square29 { grid-area: 11 / 3 / 12 / 4; }
.parent .square30 { grid-area: 11 / 2 / 12 / 3; }
.parent .square31 { grid-area: 11 / 1 / 12 / 2; }
.parent .square32 { grid-area: 10 / 1 / 11 / 2; }
.parent .square33 { grid-area: 9 / 1 / 10 / 2; }
.parent .square34 { grid-area: 8 / 1 / 9 / 2; }
.parent .square35 { grid-area: 7 / 1 / 8 / 2; }
.parent .square36 { grid-area: 6 / 1 / 7 / 2; }
.parent .square37 { grid-area: 5 / 1 / 6 / 2; }
.parent .square38 { grid-area: 4 / 1 / 5 / 2; }
.parent .square39 { grid-area: 3 / 1 / 4 / 2; }
.parent .square40 { grid-area: 2 / 1 / 3 / 2; }


.buttonRoll {
    position: fixed;
    top: calc(50% - 35px);
    left: calc(50% - 45px);
}

.playerInfo {
    position: absolute;
    left: 150px;
    top: 100px;
}

.currentPlayerInfo {
    position: fixed;
    top: calc(50% - 80px);
    left: calc(50% - 45px);
}